# Entornos virtuales
env/
venv/
ENV/
env.bak/
venv.bak/

# Entorno y configuraciones
.env
.venv
env.py
.venv.py

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de IDE y sistema (VS Code, PyCharm, Mac, Windows)
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db