{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="py-5">

    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold text-info">
            Arduino
        </h1>
        <p class="lead text-secondary fw-semibold">
            Aprende sobre arduino con tinkercad
        </p>
    </div>

    <div class="accordion accordion-flush" id="arduino">

        <div class="accordion-item bg-black text-light border-secondary mb-3 rounded">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-dark text-info fw-bold"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#tema1">
                    1. ¿Qué es Arduino?
                </button>
            </h2>
            <div id="tema1" class="accordion-collapse collapse" data-bs-parent="#accordionUnidad1">
                <div class="accordion-body">
                    <p class="fs-5 text-secondary text-justify">
                        Arduino es una plataforma de desarrollo de hardware y software libre. Consiste en una pequeña placa con un microcontrolador (un chip que funciona como un pequeño cerebro) y un entorno de programación. Permite conectar el mundo físico con el digital, facilitando la creación de proyectos de electrónica y robótica sin necesidad de conocimientos técnicos avanzados.
                    </p>
                    <img src="{% static 'img/arduino.png' %}" class="img-fluid rounded shadow mt-4 d-block mx-auto">
                </div>
            </div>
        </div>  
        
<div class="accordion-item bg-black text-light border-secondary mb-3 rounded">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-dark text-info fw-bold"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#tema2">
                    2. Características principales
            </button>
            </h2>
        <div id="tema2" class="accordion-collapse collapse" data-bs-parent="#accordionUnidad1">
            <div class="accordion-body">

                <ul class="fs-5 text-secondary text-justify">
                    <li>Microcontrolador: ATmega328P</li>
                    <li>ATmega16U2 en lugar de 8U2 como convertidor de USB a serie.</li>
                    <li>Voltaje de operación: 5V</li>
                    <li>Velocidad de reloj: 16 MHz</li>
                    <li>Memoria: 32 KB Flash (0.5 KB usados por el bootloader), 2 KB SRAM y 1 KB EEPROM</li>
                    <li>Pines digitales: 14 (de los cuales 6 proporcionan salida PWM)</li>
                    <li>Pines analógicos: 6</li>
                    <li>Interfaces de comunicación: 1 UART (puerto serie), 1 SPI y 1 I2C</li>
                    <li>Conector de alimentación: Jack estándar para adaptador de corriente</li>
                       
                </ul>

            </div>
        </div>
        
        <div class="accordion-item bg-black text-light border-secondary mb-3 rounded">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed bg-dark text-info fw-bold"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#tema3">
                    3. ¿Para qué sirve?
                </button>
            </h2>
            <div id="tema3" class="accordion-collapse collapse" data-bs-parent="#accordionUnidad1">
                <div class="accordion-body">
                    <p class="fs-5 text-secondary text-justify">
                        El Arduino UNO R3 es una placa de desarrollo y microcontrolador. Su función principal es servir como "cerebro" para proyectos electrónicos, permitiéndote conectar sensores para leer el entorno y controlar actuadores (como luces, pantallas y motores) mediante código.
                    </p>

                    <p class="fs-5 text-secondary text-justify">
                        ¿Qué puedes hacer con él?
                    </p>

                    <ul class="fs-5 text-secondary text-justify">
                        <li>Robótica: Controlar robots pequeños, vehículos a control remoto o brazos mecánicos.</li>
                        <li>Domótica: Crear sistemas de riego automatizados, alarmas de seguridad o control de iluminación.</li>
                        <li>Automatización: Leer sensores (temperatura, humedad, ultrasonido) y mostrar los datos en pantallas LCD.</li>
                        <li>Internet de las Cosas (IoT): Conectarlo a internet mediante módulos adicionales para monitorear datos a distancia.</li>
                    </ul>
                    
                </div>
            </div>
        </div>        

    </div>



</section>
{% endblock %}